@import "scss/theme/variables.scss";
@import "scss/theme/mixins.scss";

.LoginWrapper {
  height: 100vh;
  width: 100vw;
  background-color: $grey-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  .LoginWrapper__form {
    border-radius: get-rem(5px);
    background-color: $white;
    // height: get-rem(550px);
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    // width: get-rem(850px);
    width: 55vw;
    overflow: hidden;
    &-image {
      background: url("../../../assets/img/login/login.jpg") center no-repeat;
      background-size: cover;
    }
    &-content {
      padding: get-rem(100px) get-rem(120px);
      h1 {
        font-size: get-rem(40px);
        line-height: get-rem(57px);
        font-weight: bold;
        margin-bottom: get-rem(10px);
        color: $black3;
      }
      p {
        color: $grey;
        font-size: get-rem(15px);
        margin-bottom: get-rem(30px);
      }
      form{
        display: grid;
        grid-row-gap: get-rem(25px);
        padding-bottom: get-rem(20px);
        border-bottom: 1px dashed $blue3;
      }
    }
  }
}
