@import "scss/theme/variables.scss";
@import "scss/theme/mixins.scss";
@import "~rfs/scss";

.LoginWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(167,207,241);
  background: -moz-linear-gradient( rgba(167,207,241,1) 0%, rgba(177,159,216,1) 64%);
  background: -webkit-linear-gradient( rgba(167,207,241,1) 0%, rgba(177,159,216,1) 64%);
  background: linear-gradient( rgba(167,207,241,1) 0%, rgba(177,159,216,1) 64%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a7cff1",endColorstr="#b19fd8",GradientType=1);
  .LoginWrapper__form {
    border-radius: get-rem(5px);
    background-color: $white;
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 55vw;
    overflow: hidden;
    &-image {
      background: url("../../../assets/img/login/login.jpg") center no-repeat;
      background-size: cover;
    }
    &-content {
      align-self: center;
      justify-self: center;
      h1 {
        // @include font-size(get-rem(40px));
        font-size: get-rem(40px);
        line-height: get-rem(57px);
        font-weight: bold;
        margin-bottom: get-rem(10px);
        color: $black3;
      }
      p {
        color: $grey;
        font-size: get-rem(15px);
        margin-bottom: get-rem(30px);
      }
      form{
        display: grid;
        grid-row-gap: get-rem(25px);
        padding-bottom: get-rem(20px);
        border-bottom: 1px dashed $blue3;
      }
    }
  }
}

html.mobile{
  .LoginWrapper__form{
    height: 95%;
    width: 90%;
    grid-template-columns: none;
    background: url("../../../assets/img/login/login-mobile.png") center no-repeat;
    background-size: cover;
    border-radius: get-mobile-vw(5px);
    &-image{
      display: none;
    }
    &-content {
      h1 {
        font-size: get-mobile-vw(40px);
        line-height: get-mobile-vw(57px);
        margin-bottom: get-mobile-vw(10px);
        color: $white2;
      }
      p {
        font-size: get-mobile-vw(15px);
        margin-bottom: get-mobile-vw(30px);
      }
      form{
        grid-row-gap: get-mobile-vw(25px);
        padding-bottom: get-mobile-vw(20px);
      }
    }
  }
}
