@import "scss/theme/variables.scss";
@import "scss/theme/mixins.scss";

.TrendingWrapper{
    display: grid;
    grid-row-gap: get-rem(20px);
}


.Trending {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: get-rem(15px);
}

.Upcoming {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: get-rem(17px);
}
