{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "jest": true
    },
    "root": true,
    "extends": ["airbnb", "plugin:prettier/recommended", "plugin:cypress/recommended"],
    "plugins": ["react-hooks", "cypress"],
    "rules": {
      "strict": 0,
      "react/jsx-one-expression-per-line": 0,
      "import/prefer-default-export": 0,
      "react-hooks/rules-of-hooks": "error",
      "react/jsx-props-no-spreading": "off",
      "react/prefer-stateless-function": "off",
      "no-underscore-dangle": "off"
      
    },
    "settings": {
      "import/resolver": {
        "babel-module": {}
      }
    }
  }
  