{
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],
  "rules": {
    "jsx-a11y/no-autofocus": "off",
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": "off",
    "class-methods-use-this": "off",
    "no-else-return": "off",
    "import/no-extraneous-dependencies": "off",
    "react/no-array-index-key": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/prefer-stateless-function": "off",
    "jsx-quotes": "off",
    "no-nested-ternary": "off",
    "react/require-default-props": "off",
    "comma-dangle": "off"
  }
}
