@import "scss/theme/variables.scss";
@import "scss/theme/mixins.scss";

.Menu {
  height: 100vh;
  color: $white;
  grid-row: 1/2;
  width: get-rem(250px);
  position: relative;
  overflow: hidden;
  background: linear-gradient($violet, $blue2 90%);
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    &-user {
      display: flex;
      align-items: center;
      padding: get-rem(30px);
      border-bottom: 1px solid $grey-border;
      .username {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        > span:first-child {
          font-size: get-rem(17px);
          line-height: get-rem(20px);
        }
        > span:nth-child(2) {
          font-size: get-rem(13px);
        }
      }
      .avatar {
        border-radius: 50%;
        overflow: hidden;
        height: get-rem(40px);
        width: get-rem(40px);
        margin-right: get-rem(20px);
        > img {
          width: 100%;
        }
      }
    }
    &-sections {
      margin: get-rem(30px) 0 get-rem(70px);
      ul {
        li {
          font-weight: 500;
          letter-spacing: 0.6px;
          padding: get-rem(20px) 0 get-rem(20px) get-rem(30px);
          cursor: pointer;
          &:hover{
            background: $grey-border;
            background: linear-gradient(90deg, $violet5 10%, $grey-border 112%);
            color: $white;
          }
        }
      }
    }
    &-categories {
    }
    &-signout {
    }
  }
}
